.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(253,249,237,255); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px hsl(0, 0%, 0%)
}

.wordSection {
    margin-bottom: 10px;
    text-align: center;
}

.mainContainer {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 10px;
}


.word {
    font-size: 2rem;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
}

.timerBlack {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.timerRed {
    font-size: 20px;
    color: red;
    font-weight: bold;
}


.flexContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px; 
}

@media (max-width: 768px) {
    .flexContainer {
        flex-direction: column;
        align-items: center;
    }
}
